#* 
	comments: 
	
	Author: Luis Molina
*#  
 
<nameFile>ficha_${table}</nameFile>
<extensionFile>aspx</extensionFile>
<languageGenerated>c_sharp</languageGenerated>
<description>description</description>
<targetDirectory>main_${table}</targetDirectory>
<appliesToAllTables>true</appliesToAllTables>
 

<%@ Page Language="C#" MasterPageFile="~/portal/master/masterWeb.Master" AutoEventWireup="true"
    Codebehind="ficha_${table}.aspx.cs" Inherits="juleweb.portal.main_${table}.ficha_${table}"
    Title="Página sin título" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
 
 <!--contenido-->
	<div id="contenido">
	     	
				 
				
				<!--subseccion 1-->
					<div class="subseccion">
					 
		 	
#set ($count = 0)
#foreach( $field in $table.getFields )
  #if (!$field.isKey())
              #if ($field.targetType.toString() == "_integer")
                #if ( $field.isForeignKey())
						<div class="lineaForm">
							<label for="${field}">		
								<span class="etiqueta">${field.targetName()}: </span>
								 <asp:Label ID="lab${field}" text=""  runat="server"></asp:Label>
							</label>
						</div>		
				#else
					<div class="lineaForm">
					<label for="${field}">
							<span class="etiqueta">${field.targetName()}: </span>
							<asp:Label ID="lab${field}" text=""  runat="server"></asp:Label>
						</label>
					</div>		
				#end
			#end 
              #if ($field.targetType.toString() == "_double")
			  	<div class="lineaForm">
                   <label for="${field}">
                        <span class="etiqueta">${field.targetName()}: </span>
                        <asp:Label ID="lab${field}"  text=""    runat="server"></asp:Label>
                    </label>
				</div>		
                 #end 
                #if ($field.targetType.toString() == "_string")
			  	<div class="lineaForm">
                   <label for="${field}">
                        <span class="etiqueta">${field.targetName()}: </span>
                        <asp:Label ID="lab${field}"  text=""    runat="server"></asp:Label>
                    </label>
				</div>		
                 #end 
                #if ($field.targetType.toString() == "_text")
			  	<div class="lineaForm">
                   <label for="${field}">
                        <span class="etiqueta">${field.targetName()}: </span>
                        <asp:Label ID="lab${field}"  text=""    runat="server"></asp:Label>
                    </label>
				</div>		
                 #end 
				#if ($field.targetType.toString() == "_date")
			  	<div class="lineaForm">
                 <label for="${field}">
                        <span class="etiqueta">${field.targetName()}: </span>
                        <asp:Label ID="lab${field}"  text=""    runat="server"></asp:Label>
                    </label>
				</div>		
                 #end 
              #if ($field.targetType.toString() == "_boolean")
			  	<div class="lineaForm">
                  <label for="${field}">
                        <span class="etiqueta">${field.targetName()}: </span>
                        <asp:CheckBox ID="ck${field}"   runat="server" />
                    </label>
						</div>		
                 #end 
              #if ($field.targetType.toString() == "_image")
			  		<div class="lineaForm">
						    <asp:Image ID="img${field}" runat="server" Visible="False" Width="40px" />
                            <br />
                            <asp:Label ID="lblInfo${field}" CssClass="camporojo" runat="server" Text=""></asp:Label>
					</div>
                 #end 
              #if ($field.targetType.toString() == "_document")
			  		<div class="lineaForm">
						      <asp:Image ID="img${field}" runat="server" Visible="False" Width="40px" />
                            <br />
                            <asp:Label ID="lblInfo${field}" CssClass="camporojo" runat="server" Text=""></asp:Label>
					</div>
                 #end 
				 #if ($field.targetType.toString() == "_audio")
			  		 <div class="lineaForm">
						   <asp:Label ID="lbl${field}" CssClass="camporojo" runat="server" Text=""></asp:Label>
                            <br />
                            <br />
                     </div>	
                 #end 
				 	
      
    #set ($count = $count + 1 )
 #end
#end 		


			
		    					
					</div><!--subseccion 1-->
					
					
			</div>	<!--contenido-->






</asp:Content>
