body{margin:0 2%;padding:0;font:normal 65% Arial, Helvetica, sans-serif;color:#517c56;}

fieldset{padding:0;border:none; float:none;}
legend{padding:10px; background:#fff url(../../admin/imagesadmin/f_tit2.gif) repeat-x bottom; text-align:center; font-weight:bold; border-top:1px solid #eae8e5; margin:0 0 20px 0;width:100%;width:auto !important;float:none; color:#65635e; float:none;}

a{font-weight:bold; color:#25532a;text-decoration:underline;}
a:hover{color:#89b48e; text-decoration:none;}


img{border:0;margin:0;padding:0;}

h1 a, h2 a, h3 a{text-decoration:none;}
h1, h2, h3, h4{margin:0;padding:0;font-family: Arial, Helvetica, sans-serif; color:#34743b;}
.camporojo{border:1px solid #e50000; font:1em Arial; padding:2px 3px; color:#e50000; margin-right:3px;}

h3{font-size:1.2em;}
h4{font-size:1.2em; color:#46b3e9;}
h4 a{font-size:0.9em;}
h5{color:#46b3e9; font-size:1em; margin:4px 0;padding:2px 0; border-bottom:1px solid #a4c8d4;}

ol{margin:0 0 15px 35px;padding:0;}
ol li{list-style-type:decimal;padding:3px 0;}
ul{margin:0;padding:0;}
ul li{margin:0;padding:0;list-style-type:none;}
dl{margin-left:10px;padding:0;}
dt{margin:0;padding:4px 15px; font-weight:bold; background:url(../../admin/imagesadmin/naranjaLi.gif) no-repeat 5px}
dd{margin:0;padding:0 15px;}

table{font-size:1em; text-align:left;}
caption{font-weight:bold;}

/*--tr--*/

th{border-bottom:1px solid #f1f4fa; border-top:1px solid #fff; font-weight:normal;padding:5px 3px; background:"#ECF8EE"; }
td{border-top:3px solid #fff;border-bottom:1px solid #a4c8d4;font-weight:bold;}


acronym{border-bottom: 1px dashed #268dad;cursor:help;}
cite{cursor:help;}
blockquote{cursor:help;margin:0;}

address{font-style:normal;float:left;}
kbd{font:normal .8em "Lucida console", Courier, monospace;border-top:.15em solid #ccc;border-right:.25em solid #aaa;border-bottom:.3em solid #888;border-left:.2em solid #bbb;padding:.06em .3em;margin:0 1.5px;background:#eee;vertical-align: text-bottom;cursor:help;}
em{font-style:italic;color:#837c62;}

p{margin:15px 8px 5px 33px; text-align:justify;}
.cursorAdjunto{cursor:pointer;}
.teclaacceso{border-bottom: 1px solid #000;padding:0;margin:0;}
.hidden, .mensaje{position:absolute;top:0;left:0;z-index:-100;visibility:hidden}
.puntosH, .clear{clear:both; padding:5px 0; font-size:0;}
.both{clear:both; padding:1px 0 0 0;}

.separador{background:url(../../admin/imagesadmin/fondSeparador.gif) repeat-x; clear:both; margin:15px 18px 13px 27px; padding:2px 0;}


/*---FONDOS LATERALES-----*/
#fondoIzquierda{background:#fff url(../../admin/imagesadmin/FondIzq.gif) repeat-y; float:left; width:100%;}
#fondoDerecha{background:url(../../admin/imagesadmin/FondDcha.gif) repeat-y right; float:left; width:100%;}
#fondocentral{padding:7px 24px 0 24px; float:none !important; float:left;}
/*-------*/

/*---fondos inf-----*/
#fondInf{background: url(../../admin/imagesadmin/fondInf.gif) repeat-x;margin: 0 5px;}
#fondInfIzq{background: url(../../admin/imagesadmin/esq_izq.gif) no-repeat 0 100%;}
#fondInfDcha{background:url(../../admin/imagesadmin/esq_dcha.gif) no-repeat 100% 100%; height:18px;}

/*-----PIE------*/
#fondopie{clear:both; margin-top:10px;}
#pie{background: #ecf6ed url(../../admin/imagesadmin/fondoPie.gif) repeat-x; margin:0 15px;}
li.logospie{ background:none!important;}
#seccion1{padding:1.2em 2% 1.7em 2%;}
#seccion1 li{ padding:1px 7px 1px 10px; float:left; margin:0 10px; background:url(../../admin/imagesadmin/flecha.gif) no-repeat 0 4px;}

/*-----*/

/*---cabecera parte superior-----*/

/*---titulo pag--*/
.titulocabecera{font-size:1.8em;padding:23px 0 0 20px;color:#335a43;}
.titulocabecera span{font-size:0.8em; color:#528b6c;}
#logotipo{float:left; width:52%;}

#cabecera, #esqCabIzq, #esqCabDcha{float:left; width:100%;}
/*---titulo pag--*/


#derechaPest{float:right; width:auto; background: url(../../admin/imagesadmin/fondPest.gif) repeat-x;height:30px;}
#esqPest{background:url(../../admin/imagesadmin/esqPest.gif) no-repeat;height:30px; padding:4px 0 0 20px;}
.pestana{background:#ecf0ed url(../../admin/imagesadmin/fondPestanas.gif) repeat-x bottom; border:1px solid #a0ada2;}
.termSesion{ border:none; padding:4px 8px 4px 35px; color:#4b4b4b;font:bold 1em Verdana, Arial, Helvetica, sans-serif; cursor:pointer; background:url(../../admin/imagesadmin/terminarSesion.gif) no-repeat 7px 4px; text-align:left; width:14em;}

/*---accesibilidad---*/
#dchAccesibilidad{ margin:7px 10px; clear:right; float:right; width: 40%;}
.bloqueAccesib{float:right; background:url(../../admin/imagesadmin/separadorIcos.gif) no-repeat 100% 50%; padding:0 8px; margin: 2px 0;}

.T2{background:#87c594 url(../../admin/imagesadmin/fondoT2.gif) repeat-x bottom; color:#fff!important;}

.T1, .T2, .A1, .A2, .A3{border-right:1px solid #5b5b5b; border-bottom:1px solid #5b5b5b; border-top:1px solid #cecece; border-left:1px solid #b7b7b7;padding:0 2px; margin:0 3px 0 0;font:bold 1.1em Verdana, Arial, Helvetica, sans-serif; color:#505a57; cursor:pointer;}
.T1{background:#fbfcfd url(../../admin/imagesadmin/fondoAccesibilidad.gif) repeat-x bottom;}
.A1{background:#fbfcfd url(../../admin/imagesadmin/fondoAccesibilidad.gif) repeat-x bottom;font-size:0.8em;}
.A2{background:#fbfcfd url(../../admin/imagesadmin/fondoAccesibilidad.gif) repeat-x bottom;font-size:1em;}
.A3{background:#fbfcfd url(../../admin/imagesadmin/fondoAccesibilidad.gif) repeat-x bottom;font-size:1.2em;}

.icoaccesib{border:none; background:none;font:bold 1em Verdana, Arial, Helvetica, sans-serif;padding:4px 0; text-decoration:underline; color:#007931; cursor:pointer; width:8em;}
/*---accesibilidad--*/

#contenidoCab{float:left; width:100%; border-left:1px solid #4e775f; border-bottom:1px solid #accab8; background:#ecf8ee url(../../admin/imagesadmin/fondoImgCentral.gif) repeat-x top;}
.left{float:left;}

.bloqueMenu{float:left; width:100%; background:#f4f4f4;}
.bloqueMenu ul{float:left; width:100%;}
.bloqueMenu ul li{float:left; padding:6px 4px;}
.bloqueMenu ul li a{display:block; padding:5px 6px 5px 30px; color:#34703b; font-size:1.1em;}
.modificarM{background:url(../../admin/imagesadmin/modificar.gif) no-repeat 2px 2px;}
.insertarM{background:url(../../admin/imagesadmin/insertar.gif) no-repeat 2px 2px;}

/*----barra titulos---*/
.titulos{background:url(../../admin/imagesadmin/fondoTitulos.gif) repeat-x;border-bottom:1px solid #dee3de; margin:10px 0;  border-left:1px solid #d3d8d3; border-right:1px solid #acc1e4; clear:both;}
.itemTit{background:url(../../admin/imagesadmin/itemTit.gif) no-repeat 0 0;padding: 4px 0;}
.textoTit{ font-size:1.4em; padding-left:40px;}

/*---subseccion---*/
.subseccion{margin:12px 2% 0 3.5%;clear:both; border:1px solid #d0dbd1; float:left!important; width:95%!important; float:none; width:auto;}
.titSubseccion{background:#f5f5f5 url(../../admin/imagesadmin/fondoSubtit.gif) repeat-x;padding:3px; color:#25532A; border-bottom:1px solid #b5c5b7; margin:1px;}
.itemh3{background:url(../../admin/imagesadmin/itemSubtit.gif) no-repeat 3px 2px; padding-left:20px;}

/*-----Men�------*/
#zonamenu{float:left; width:100%; background:url(../../admin/imagesadmin/zonamenu.gif) repeat-x; margin:5px 0;}
.MenuIzq, .MenuDcha{float:left; width:100%;}

#menu{float:left; background:#fff url(../../admin/imagesadmin/fondomenu.gif) repeat-x;}
#menu li{font-size:1.1em; float:left;}
#menu li a{color:#4a545b; font-weight:bold;text-decoration:none; background: url(../../admin/imagesadmin/itemMenu.gif) no-repeat 4px 7px; padding: 6px 6px 6px 20px;float:left; display:block; border-bottom:1px solid #b6c8bd;}
#menu li a:hover{color:#388f42; background: url(../../admin/imagesadmin/itemMenuHover.gif) no-repeat 4px 7px;}

.esqIzq{float:left; padding:0; background: url(../../admin/imagesadmin/esqIzq_menu.gif) no-repeat; width:4px; height:2.3em;}
.esqDcha{float:left; padding:0; background:url(../../admin/imagesadmin/esqDcha_menu.gif) no-repeat; width:2px; height:2.3em;}

/*--formularios--*/
.lineaForm{padding:10px 25px; font-size:1.1em;}
.etiqueta{float:left; width:12em;padding:3px 5px;}
.etiqueta2{padding:3px 5px;}
.zonacampo{margin:0 5px;}
.campo{color:#707889; width:15em;  font-family:arial;font-size:1em;}
.textarea{color:#707889;   font-family:arial;font-size:1em; height:100px; width:40%;}
.campo2{color:#707889; width:7.5em; font-family:arial;font-size:1em;}
.campo3{color:#707889; font-family:arial;font-size:1em; margin:0 4px;}
.asterisco{font-size:1.2em; color:#68b972;padding:0 3px;}

.botonesSub{margin:6px 2% 6px 3.5%;clear:both; float:left!important; width:95%!important; float:none; width:auto; padding-top:10px; background:url(../../admin/imagesadmin/fondSeparador.gif) repeat-x;font-size:1.1em;}
.botonesSub span{margin-right:7px;}


/*--botones--*/
.examinar, .aceptar, .denegar, .anadirCat, .borrar, .modificar, .Vproductos, .editarProd{border:1px solid #c4d2c6; font:bold 0.9em Verdana, Arial, Helvetica, sans-serif; text-align:left; cursor:pointer;}
.examinar{background:url(../../admin/imagesadmin/examinar.gif) no-repeat 2px 1px;width:8.5em;padding:2px 3px 2px 26px;}
.aceptar{background:url(../../admin/imagesadmin/aceptar.gif) no-repeat 3px 3px; width:8.5em;padding:3px 3px 3px 24px;}
.denegar{background:url(../../admin/imagesadmin/denegar.gif) no-repeat 3px 3px; width:8.5em;padding:3px 3px 3px 24px;}
.anadirCat{background:url(../../admin/imagesadmin/anadirCat.gif) no-repeat 1px 1px; width:7.2em;padding:3px 3px 3px 27px;}
.borrar{background:url(../../admin/imagesadmin/borrar.gif) no-repeat 1px 1px; width:6.5em;padding:3px 3px 3px 21px;}
.modificar{background:url(../../admin/imagesadmin/modificar.gif) no-repeat 1px 1px; width:7.8em;padding:3px 3px 3px 21px;}

.Vproductos{background: #fff url(../../admin/imagesadmin/verProductos.gif) no-repeat 3px 1px; width:11em;padding:3px 3px 3px 26px;}
.editarProd{background: #fff url(../../admin/imagesadmin/editarProd.gif) no-repeat 3px 1px; width:11.8em;padding:3px 3px 3px 26px;}
/*------*/

/*--accesibilidad---*/
.cuadroAccesib{margin:0 2% 8px 3.5%;clear:both; float:left!important; width:95%!important; float:none; width:auto; padding-top:10px;font-size:1.1em;}
.conjunto{margin:15px 0 15px 30px;width: 95%; clear:both;}
.c22{float: left; width: 22%;  padding-bottom: 15px}
.listagenerica li{margin-left:45px; background: url(../../admin/imagesadmin/flecha.gif) no-repeat 5px 7px; padding:3px 3px 3px 20px;}
#contenido{padding-bottom:20px; float:left; width:100%;}
.tipoh3{margin:15px 8px 15px 20px; padding: 3px 3px 3px 5px;border-bottom:1px solid #c9daee;clear:both; color:#80b474;}
/*------*/

/*--categoria--*/
.elegirCategoria{background:#f4faf5; padding:10px; border:1px solid #afc1de;}
.select{font-size:0.9em; color:#5f5c5a;}
.articulos{margin:5px 2px;}
.articulos span{margin-left:5px;}
/*------*/

/*--Login--*/
#centrologin{border:1px solid #528b6c;background:#fff;margin:5% 27%!important;margin:5% 12%;float:left; padding:10px 10px 5px 10px;}
#bordelogin{width:30em;float:left; background:#fff;border:1px solid #528b6c;}
#logologin{padding:5px 0 0 0; clear:both; text-align:center}
.login{margin:10px 0;}
.login span{width:30%;float:left; padding:5px 5px 5px 10%;}
.btn{margin:0 2px; cursor:pointer; border:1px solid #acacac; background:none; font:bold 1em Verdana, Arial, Helvetica, sans-serif; color:#74b346; text-decoration:underline; width:auto;}
.btn:hover{color:#1a5a30;}
/*------*/

/*--listas productos--*/
.catalogo{padding:20px;border:1px solid #afc1de;clear:both;}
.select{font-size:0.9em;}
.articulos{margin:5px 2px;}
.articulos span{margin-left:5px;}
.nombre{color:#2a4d91;display:block; text-decoration: underline; padding-bottom:10px;}
.cuadroProd{margin:3px; clear:both;}

.imgproducto{padding:8px;float:left;}
.producto{padding:8px 8px 8px 10px; text-align:justify;float:left;}
.precio{clear:both; background:#fcfdfc; padding:5px;}
.precio span{color:#d70051; vertical-align:middle; font-size:1.1em;}
.preciocompra{padding:10px 0; font-weight:bold; clear:both;}
.preciocompra span{ color:#f2066a;}
/*------*/
.msgError{ border:1px solid #e8e1b5; padding:5px 5px 5px 25px; background:#fdfaee url(../../admin/imagesadmin/denegar.gif) no-repeat;} 
.msgSuccess{ border:1px solid #e8e1b5; padding:5px 5px 5px 25px; background:#fdfaee url(../../admin/imagesadmin/aceptar.gif) no-repeat;} 
.msgInfo{ border:1px solid #e8e1b5; padding:5px 5px 5px 25px; background:#fdfaee url(../../admin/imagesadmin/denegar.gif) no-repeat;} 

/*-- grid --*/
.grid
{
	border: 1px solid #D1DEEF;
}
.grid td
{
	border-bottom: 1px dotted #ccc;
	border-right: 1px dotted #F3F3F3;
	margin: 0px 0px 0px 0px;
	font-family: Verdana;
	font-size: 1.1em;
	padding: 2px 2px 2px 2px;
	text-align: left;
	border-style: solid;
	border-width: 1px;
	
}
.gridItemStyle{background:none!important; border-style:none !important;border-width:0px !important;}
.gridAlternatingItemStyle{ background:#f4f6f9 !important; border-style:none !important;border-width:0px !important; }

