div.rounded {
    clear:both;
    max-width:2400px;
}

div.rounded div.top-outer {
    background:url(../../images/round/tl.gif) no-repeat left bottom;
    padding:0px;
    width:100%;
}

div.rounded div.top-outer div.top-inner {
    background:url(../../images/round/tr.gif) no-repeat right bottom;
    margin-left:10px;
}

div.rounded div.top-outer div.top-inner div.top {
    background:url(../../images/round/t.gif) repeat;
    height:11px;
    margin-right:10px;
    font-size:.01em;
}

div.rounded div.mid-outer {
    background:url(../../images/round/l.gif) left repeat-y;
    clear:both;
    width:100%;
}

div.rounded div.mid-outer div.mid-inner {
    background:url(../../images/round/r.gif) right repeat-y;
    margin-left:10px;    
}

div.rounded div.mid-outer div.mid-inner div.mid {
	background-color:#ffffff;
    margin-right:10px;
}

div.rounded div.bottom-outer {
    background:url(../../images/round/bl.gif) no-repeat left top;
    clear:both;
    padding:0px;
    width:100%;
}

div.rounded div.bottom-outer div.bottom-inner {
    background:url(../../images/round/br.gif) no-repeat right top;
    margin-left:10px;
}

div.rounded div.bottom-outer div.bottom-inner div.bottom {
    background:url(../../images/round/b.gif) repeat;
    height:11px;
    margin-right:10px;
    font-size:.01em;
}