<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="numberOfLinesWritten" value="0" />
    <add key="numberOfApplications" value="0" />
    <add key="lastServerUsed" value="192.168.10.135" />
    <add key="templatesPath" value="c:/myWayXX" />
    <add key="projectTemplatesPath" value="c:/myWayXX" />
  </appSettings>
</configuration>