

$table.Name
$table.TargetName
$table.numberOfFields
$table.key
$table.FieldDescription


----------
number of fields in table: $table.GetArrayOfFields.count


----------
fields in the table:
#foreach( $field in $table.GetArrayOfFields )
    $field.Name is great!
    
    
    #if ($field.type.toString() == "entero")
		The condition is true!
	#end  
	
#end



$table.getListOfFields(",")  // devuelve una lista separada por comas...
$table.getListOfFieldsWithoutKeys(",")  // devuelve una lista separada por comas...



project:
----------------------------------------------------
	${project}
	${project.Name()}
	${project.description()}
	${project.nameSpace()}


	${project.dbDataType()}
	${project.database()}
	${project.user()}
	${project.instance()}
	${project.passwordv
	${project.hostv
	${project.port()}

	// variables used for storing conf..
	${project.targetDirectory()}
	${project.projectTemplatesDirectory()}
	${project.projectTemplatesDirectorySmallv
	${project.targetLanguage()}

	${project.templateSelected()}
	${project.templateSelectedFullUri()}

	${project.actualTable()}
	${project.tableSelected()}

	${project.getTables()}
	${project.getRelations()}


table:
-----------------------------------------------------

	${table}
	${table.Name()}
	${table.targetName()}
	${table.numberOfFields()}
	${table.getKey()}
	${table.fieldDescription()}

	${table.getFields}
	${table.getKeyFields}
	
	${table.getListOfFields(",")}
	${table.getListOfFieldsWithoutKeys(",")}
	${table.getListOfKeyFields(",")}
	${table.getListOfParameters(",")}
	${table.getListOfParametersForVb(",")}
	${table.getListOfParametersForPhp(",")}

	${table.GetArrayOfFields()} // obsolete
	${table.getFields()}
	${table.getRelations()}
	
	${table.countOfFields}
	${table.countOfFieldsNotKey}
	
	
field:
-------------------------------------------------------

	${field.Name()}

	 ${field.type()}
	$field.type.toString()}
	${field.targetType()}
	${field.targetType.toString()}
	${field.targetName()}
	${field.selected()}

	${field.isKey()}
	${field.isForeignKey()}

	${field.allowNulls()}

	${field.isAutoIncrement()}
	${field.defaultValue()}
	${field.size()}
	${field.comment()}
	${field.getQuoted()}

	${field.changed()}

	${field.autoNumber()}

	${field.buttonInDataGrid()}
	${field.decimals()}

	${field.imageInDataGrid()}


	${field.nameChanged()}
	${field.createdNew()}
	${field.deleted()}

	// random values
	${field.randomMinValue()}
	${field.randomMaxValue()}
    

relation
------------------------------------

	${relation.name()}
	${relation.parentTable()}
	${relation.childTable()}
	${relation.parentField()}
	${relation.childField()}
	${relation.descriptionParent()}
	${relation.descriptionChild()}
	${relation.cardinality()}
	${relation.relationType()}


comentarios posibles:
-------------------------------------
#image# - imagen
#doc#	documento
#audio#	audio
#video#	video
#desc#	este campo será el utilizado en los combos para mostrar texto...
#money#
#hide#




recorrer los campos de una tabla
---------------------------------

#set ($count = 0)
#foreach( $field in $tablaPadre.GetArrayOfFields )
	#if (!$field.isKey())
		#if ($field.targetType.toString() == "_integer")
			<th align="center">${field.targetName}</th>
		#end 
		#if ($field.targetType.toString() == "_double")
			<th align="center">${field.targetName}</th>
		#end 
		#if ($field.targetType.toString() == "_string")
			<th align="center">${field.targetName}</th>
		#end 
		#if ($field.targetType.toString() == "_text")
			<th align="center">${field.targetName}</th>
		#end 
		#if ($field.targetType.toString() == "_date")
			<th align="center">${field.targetName}</th>
		#end 
		#if ($field.targetType.toString() == "_boolean")
			<th align="center">${field.targetName}</th>
		#end 
		#if ($field.targetType.toString() == "_audio")
			<th align="center">${field.targetName}</th>
		#end 
		#if ($field.targetType.toString() == "_video")
			<th align="center">${field.targetName}</th>
		#end 
		#if ($field.targetType.toString() == "_document")
			<th align="center">${field.targetName}</th>
		#end 
		#if ($field.targetType.toString() == "_image")
			<th align="center">${field.targetName}</th>
		#end 	 
	
		
	#end
	#set ($count = $count + 1 )
#end  



maestro detalle
----------------------

#foreach( $relation in $project.getRelations() )
 	 #* only if has a relation and its the child table.. *#
	#if ($relation.childTable.equals(${table.name}))
		<!-- master detail -->
		$relation.name
		#foreach( $tablaPadre in $project.getTables() )
			#if ($relation.parentTable.equals(${tablaPadre.name}))
				tabla padre ... ${tablaPadre.name}
					 
											
				#set ($count = 0)
				#foreach( $field in $tablaPadre.GetArrayOfFields )
					#if (!$field.isKey())
					  #if ($field.targetType.toString() == "_integer")
						 <th align="center">${field.targetName}</th>
						 #end 
						#if ($field.targetType.toString() == "_double")
						 <th align="center">${field.targetName}</th>
						 #end 
						#if ($field.targetType.toString() == "_string")
						 <th align="center">${field.targetName}</th>
						 #end 
						#if ($field.targetType.toString() == "_text")
						 <th align="center">${field.targetName}</th>
						 #end 
						#if ($field.targetType.toString() == "_date")
						 <th align="center">${field.targetName}</th>
						 #end 
						#if ($field.targetType.toString() == "_boolean")
						 <th align="center">${field.targetName}</th>
						 #end 
						#if ($field.targetType.toString() == "_audio")
						 <th align="center">${field.targetName}</th>
						 #end 
						#if ($field.targetType.toString() == "_video")
						 <th align="center">${field.targetName}</th>
						 #end 
						#if ($field.targetType.toString() == "_document")
						 <th align="center">${field.targetName}</th>
						 #end 
						 #if ($field.targetType.toString() == "_image")
						 <th align="center">${field.targetName}</th>
						 #end 	 
					
						
					#end
					#set ($count = $count + 1 )
				#end  
			 						
							
							
			#end
		#end
		<!-- master detail -->
	#end

#end 