#*
	crea el archivo ...
	Author : Luis Molina...
*# 
<nameFile>menuAdmin</nameFile>
<extensionFile>ascx</extensionFile>
<languageGenerated>c#"</languageGenerated>
<description></description>
<targetDirectory></targetDirectory>
<appliesToAllTables>true</appliesToAllTables>

<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="menuAdmin.ascx.cs" Inherits="juleweb.admin.master.menuAdmin" %>
<ul id="menu">
	#set ($count = 0)
	#foreach( $name in $project.getTables )
		<li><span class="esqIzq"></span><a href="../${name}_dir/listado_${name}.aspx">${name}</a><span class="esqDcha"></span></li>
	 #end 
</ul>