
#* 
	This is an example velocity template
*#
<nameFile>main_$table</nameFile>
<extensionFile>aspx.cs</extensionFile>
<languageGenerated>c_sharp</languageGenerated>
<description>description</description>
<targetDirectory>${table}_dir</targetDirectory>
<appliesToAllTables>true</appliesToAllTables>

 

 





project:
----------------------------------------------------
	${project}
	${project.Name()}
	${project.description()}
	${project.nameSpace()}


	${project.dbDataType()}
	${project.database()}
	${project.user()}
	${project.instance()}
	${project.password()}
	${project.host()}
	${project.port()}

	// variables used for storing conf..
	${project.targetDirectory()}
	${project.projectTemplatesDirectory()}
	${project.projectTemplatesDirectorySmall()}
	${project.targetLanguage()}

	${project.templateSelected()}
	${project.templateSelectedFullUri()}

	${project.actualTable()}
	${project.tableSelected()}

	${project.getTables()}


#foreach( $table in $project.getTables )
	table:
	-----------------------------------------------------
	${table}
	${table.Name()}
	${table.targetName()}
	${table.numberOfFields()}
	${table.getKey()}
	${table.fieldDescription()}

	${table.getListOfFields(",")}
	${table.getListOfFieldsWithoutKeys(",")}
	${table.getListOfKeyFields(",")}
	${table.getListOfParameters("")}
	${table.getListOfParametersForVb(",")}
	${table.getListOfParametersForPhp(",")}

	${table.GetArrayOfFields()} // obsolete
	${table.GetFields()}
	${table.getRelations()}
	
	#foreach( $field in $table.getFields() )
		
		field:
		-------------------------------------------------------

		${field}
		${field.Name()}

		${field.type()}
		${field.type.toString()}
		${field.targetType()}
		${field.targetType.toString()}
		targetname: ${field.targetName()}
		${field.selected()}

		${field.isKey()}
		${field.isForeignKey()}

		${field.allowNulls()}

		${field.isAutoIncrement()}
		${field.defaultValue()}
		${field.size()}
		${field.comment()}
		${field.getQuoted()}

		${field.changed()}

		${field.autoNumber()}

		${field.buttonInDataGrid()}
		${field.decimals()}

		${field.imageInDataGrid()}


		${field.nameChanged()}
		${field.createdNew()}
		${field.deleted()}

		// random values
		${field.randomMinValue()}
	
	#end
	
	
#end	
	


----------
number of fields in table: $table.GetArrayOfFields.count


---------------------------------
tables in the project

#foreach( $tablita in $project.getTables )
    $tablita.Name is great!
#end



----------
fields in the table:
#foreach( $field in $table.GetArrayOfFields )
    $field.Name is great!
    
    
    #if ($field.type.toString() == "entero")
		The condition is true!
	#end  
	
#end

---------------------------
relations in the table

#foreach( $relation in $table.getRelations )
    $relation.Name is great!

	
#end
 
 // ejemplo de bucle... con una coma al final..
 
#set ($count = 0)
#foreach( $field in $table.GetArrayOfFields )
#if (! $field.isKey)
#if ($field.type.toString() == "_integer")
	sqlt.Append( sf.mySql(obj${table}.${field}) + "#if ($table.GetArrayOfFields.count() -  $count  != 1) , #end") ;
#end  
#if ($field.type.toString() == "_string")
	sqlt.Append( sf.mySql(obj${table}.${field}) + "#if ($table.GetArrayOfFields.count()-  $count  != 1) , #end") ;
#end  
#if ($field.type.toString() == "_date")
	sqlt.Append( sf.mySql(obj${table}.${field}) + "#if ($table.GetArrayOfFields.count()-  $count  != 1) , #end") ;
#end  
#if ($field.type.toString() == "_boolean")
	sqlt.Append( sf.mySql(obj${table}.${field}) + "#if ($table.GetArrayOfFields.count()-  $count  != 1) , #end") ;
#end 		
#end 
#set ($count = $count + 1 ) 
#end   


// ejemplo de bucle

#foreach( $field in $table.GetArrayOfFields )
#if (! $field.isKey)
#if ($field.type.toString() == "_integer")
	new${table}.${field} = sf.entero(row["${field}"]);
#end  
#if ($field.type.toString() == "_string")
	 new${table}.${field} = sf.cadena(row["${field}"]);
#end  
#if ($field.type.toString() == "_date")
	new${table}.${field} = sf.fecha(row["${field}"].ToString());
#end  
#if ($field.type.toString() == "_boolean")
	new${table}.${field} = sf.boolean(row["${field}"]);					
#end 		
#end 
#end 

// nombre del primer campo clave
${table.getKey}