<nameFile>masterDetail_${table}</nameFile>
<extensionFile>aspx</extensionFile>
<languageGenerated>c_sharp</languageGenerated>
<description>description</description>
<targetDirectory>${table}_dir</targetDirectory>
<appliesToAllTables>true</appliesToAllTables> 
<%@ Page Language="C#" MasterPageFile="~/admin/master/masterAdmin.Master" AutoEventWireup="true"  CodeBehind="masterDetail_${table}.aspx.cs" Inherits="juleweb.${table}_dir.masterDetail_${table}" Title="Página sin título" %>
<%@ Register Assembly="eWorld.UI" Namespace="eWorld.UI" TagPrefix="ew" %>
<%@ Register Assembly="FreeTextBox" Namespace="FreeTextBoxControls" TagPrefix="FTB" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
	<div id="contenido">
				<!--barra titulos-->
				<div class="titulos">
					<div class="itemTit">
					  <h2 class="textoTit">
                      ${table.targetName()}</h2>
					</div>
				</div>
				<!--barra titulos-->
				
			 <div class="bloqueMenu">
				<ul  class="pestCat">
					<li><a href="../${table}_dir/listado_${table}.aspx" class="modificarM" >Listado ${table.targetName()}</a></li>
					<li><a href="../${table}_dir/main_${table}.aspx" class="insertarM">Nuevo ${table.targetName()}</a></li>
				</ul>
			</div>
				
			<!--subseccion 1-->
			<div class="subseccion">
				<div class="titSubseccion">
					<h3 class="itemh3">
                        Rellene los datos</h3>
				</div>
 

        #set ($count = 0)
        #foreach( $field in $table.GetArrayOfFields )
        #if (!$field.isKey())
        #if ($field.targetType.toString() == "_integer")
        #if ($field.isForeignKey() )
        <div class="lineaForm">
						<label for="${field}">				
							<span class="etiqueta">${field.targetName()}: </span>
							<asp:DropDownList ID="cmb${field}" CssClass="textoLargo" runat="server">
							</asp:DropDownList>
						</label>
				</div>		
				#else
			    #if ($field != "idportal")	
				<div class="lineaForm">
                <label for="${field}">
                        <span class="etiqueta">${field.targetName()}: </span>
                        <asp:TextBox ID="txt${field}" CssClass="textoLargo" runat="server"></asp:TextBox>
                    </label>
				</div>
        #end
        #end
        #end

        #if ($field.targetType.toString() == "_string")
        <div class="lineaForm">
                   <label for="${field}">
                        <span class="etiqueta">${field.targetName()}: </span>
							<asp:TextBox ID="txt${field}" CssClass="textoLargo" runat="server"></asp:TextBox>
						                     
                    </label>
		</div>
        #end
		#if ($field.targetType.toString() == "_text")
			<div class="lineaForm">
			   <label for="${field}">
					<span class="etiqueta">${field.targetName()}: </span>
					   <FTB:FreeTextBox ID="txt${field}" runat="server" Language="es-ES">
					   </FTB:FreeTextBox>						                       
				</label>
			</div>		
		#end 
		#if ($field.targetType.toString() == "_double")
				<div class="lineaForm">
                   <label for="${field}">
                        <span class="etiqueta">${field.targetName()}: </span>
						 	<ew:NumericBox runat="server" id="txt${field}" DecimalPlaces="4" AutoFormatCurrency="True"  BackColor="#FFFFCC" DecimalSign="," GroupingSeparator="." DollarSign=" " />  
                    </label>
				</div>		
        #end 		
        #if ($field.targetType.toString() == "_date")
			  	<div class="lineaForm">
					<label for="${field}">
                        <span class="etiqueta">${field.targetName()}: </span>
                         <asp:TextBox ID="${field}" CssClass="textoLargo" runat="server"></asp:TextBox>
                    </label>
				</div>		
        #end 
              #if ($field.targetType.toString() == "_boolean")
			  	<div class="lineaForm">
                  <label for="${field}">
                        <span class="etiqueta">${field.targetName()}: </span>
                        <asp:CheckBox ID="ck${field}"   runat="server" />
                    </label>
				</div>
        #end
        #if ($field.targetType.toString() == "_image")
        <div class="lineaForm">
						<span class="etiqueta">${field.targetName()}
						</span>
                            <asp:Image ID="img${field}" runat="server" Visible="False" Width="40px" />
                            <asp:Button ID="btnborrarimagen${field}" runat="server" CssClass="boton" OnClick="btnborrarimagen${field}_Click"
                                Text="Borrar imagen" Visible="False" />
                            <span class="zonacampo">
                             <label for="FileUploadImagen${field}"><asp:FileUpload ID="FileUploadImagen${field}" runat="server" Width="328px" CssClass="textstandar" /></label>
                            </span>
                            <br />
                            <br />
                            <asp:Label ID="lblinfo${field}" CssClass="camporojo" runat="server" Text=""></asp:Label>
                    </div>
				#end 
				#if ($field.targetType.toString() == "_document")
					<div class="lineaForm">
						<span class="etiqueta">${field.targetName()}
						</span>
                            <asp:Label ID="lbl${field}" runat="server" Visible="False" />
                            <asp:Button ID="btnborrar${field}" runat="server" CssClass="boton" OnClick="btnborrar${field}_Click"
                                Text="Borrar documento" Visible="False" />
                            <span class="zonacampo">
                             <label for="FileUpload${field}">
								<asp:FileUpload ID="FileUpload${field}" runat="server" Width="328px" CssClass="textstandar" />
						     </label>
                            </span>
                            <br />
                            <br />
                            <asp:Label ID="lblinfo${field}" CssClass="camporojo" runat="server" Text=""></asp:Label>
                    </div>
				#end 				
             
      
    #set ($count = $count + 1 )
 #end
#end 			
			
			
    <asp:Panel ID="PanelAviso" visible="false" runat="server">
					     <div class="aviso">
            
                        <p>    <asp:Label ID="lblinfo" Visible="false"  runat="server" Text=""></asp:Label></p>
 
						</div>
						</asp:Panel>
					
					</div><!--subsecciones-->
					
					
			 
					<!--botones formulario-->
					<div class="botonesSub">
						<span>
							 <asp:Button ID="butModificar" runat="server" CssClass="boton" OnClick="butModificar_Click" Text="Modificar" />
						</span>
						<span>
							 <asp:Button ID="butCancelar" runat="server" CssClass="boton" OnClick="butCancelar_Click" Text="Cancelar" />
						</span>
					</div>
					<!--botones formulario-->
				
				
				
				 #foreach( $relation in $project.getRelations() )
				 	 #* only if has a relation and its the child table.. *#
					#if ($relation.childTable.equals(${table.name}))
						<!-- repeater detalle -->
						$relation.name
						#foreach( $tablaPadre in $project.getTables() )
							#if ($relation.parentTable.equals(${tablaPadre.name}))
									<div class="tabla">	  
									  <table cellpadding="0"   summary="Tabla de ${tablaPadre.targetName()}" class="activ">
		  											<caption>
													${tablaPadre.targetName()}
													</caption>  
    								   <thead>
									  
							                      
											<tr>
			 								<th></th>
															
											#set ($count = 0)
											#foreach( $field in $tablaPadre.getFields )
												#if (!$field.isKey())
												  #if ($field.targetType.toString() == "_integer")
													 <th align="center">${field.targetName}</th>
													 #end 
													#if ($field.targetType.toString() == "_double")
													 <th align="center">${field.targetName}</th>
													 #end 
													#if ($field.targetType.toString() == "_string")
													 <th align="center">${field.targetName}</th>
													 #end 
													#if ($field.targetType.toString() == "_text")													 
													#end 
													#if ($field.targetType.toString() == "_date")
													 <th align="center">${field.targetName}</th>
													 #end 
													#if ($field.targetType.toString() == "_boolean")
													 <th align="center">${field.targetName}</th>
													 #end 
													#if ($field.targetType.toString() == "_audio")
													 <th align="center">${field.targetName}</th>
													 #end 
													#if ($field.targetType.toString() == "_video")
													 <th align="center">${field.targetName}</th>
													 #end 
													#if ($field.targetType.toString() == "_document")
													 <th align="center">${field.targetName}</th>
													 #end 
													 #if ($field.targetType.toString() == "_image")
													 <th align="center">${field.targetName}</th>
													 #end 	 
												
													
 												#end
												#set ($count = $count + 1 )
											#end  
							 						
											<th></th>
											</tr>
										</thead>
										  <tbody>
							      	 
							      		    
												<asp:Repeater ID="rp${tablaPadre}" runat="server">
														  <ItemTemplate >
                 											<tr  title="${tablaPadre}" >
                 											<td align="center">
																<a href="./main_${tablaPadre}.aspx?id=<%#Eval("${tablaPadre.getKey()}")%> " class="btn">Editar</a> 
															</td>
															 #set ($count = 0)
														#foreach( $field in $tablaPadre.getFields )
															#if (!$field.isKey())
															  #if ($field.targetType.toString() == "_integer")
																	<td  align="center">
																		<%#Eval("${field}")%>
																	</td>
																 #end 
																#if ($field.targetType.toString() == "_double")
																	<td  align="center">
																		<%#Eval("${field}")%>
																	</td>
																 #end 
																#if ($field.targetType.toString() == "_string")
																	<td  align="center">
																		<%#Eval("${field}")%>
																	</td>
																 #end 
																#if ($field.targetType.toString() == "_text")
																#end 
																#if ($field.targetType.toString() == "_date")
																	<td  align="center">
																		<%#Eval("${field}")%>
																	</td>
																 #end 
																#if ($field.targetType.toString() == "_boolean")
																	<td  align="center">
																		<%#Eval("${field}")%>
																	</td>
																 #end 
																#if ($field.targetType.toString() == "_audio")
																	<td  align="center">
																		<%#Eval("${field}")%>
																	</td>
																 #end 
																#if ($field.targetType.toString() == "_video")
																	<td  align="center">
																		<%#Eval("${field}")%>
																	</td>
																 #end 
																#if ($field.targetType.toString() == "_document")
																	<td  align="center">
																		<%#Eval("${field}")%>
																	</td>
																 #end 
																 #if ($field.targetType.toString() == "_image")
																	<td  align="center">
																		<%# ((DataBinder.Eval(Container.DataItem, "image").ToString() == "") ? "" : "<a href=" + DataBinder.Eval(Container.DataItem, "image") + "><img src='" + DataBinder.Eval(Container.DataItem, "image") + "' border='0' width='70px' /></a>")%>
																	</td>
																 #end 	 
															
																
			 												#end
															#set ($count = $count + 1 )
														#end  
							                            					         
																<td align="center">
																  <a href="./main_${tablaPadre}.aspx?idb=<%#Eval("${tablaPadre.getKey()}")%> " class="btn">Borrar</a> 
							 
															</td>
							                			 
                											</tr>
                										</ItemTemplate>
							                 
							                    
												</asp:Repeater>
								           

										
										 </tbody>
										</table> 
												
												
								</div>
							#end
						#end
						<!-- repeater detalle -->
					#end
				
				#end 
								
				</div> 
</asp:Content>
