/*----GENERALES-----*/
#bloqueImg{float:left; width:100%;  height:92px;}


#fondoLogo{float:left; width:100%; background:url(../../images/logoJule.gif) no-repeat; height:92px;}

.categor{ background:#f1f6f2; padding:4px 5px; margin:5px 0 10px 0;}
.catIzq{float:left; width:40%; padding:5px 0 5px 10px; background:#f6f8f6 url(../images/separadorV.gif) repeat-y right;}
.result{float:left; width:40%; margin-left:5%;}
.catIzq li{ padding:4px 0 3px 18px; background: url(../images/signoMas.gif) no-repeat 0 8px;}
.catIzq li a:hover{background:#f1f6f2;}
.result li{ padding:4px 0 3px 12px; background: url(../images/puntoLi.gif) no-repeat 0 8px;}
.result li a{color:#999; font-family:arial;}
.result2{float:left; width:60%; margin-left:5%;}
.result2 li{ padding:4px 0 3px 12px; background: url(../images/puntoLi.gif) no-repeat 0 8px;}
.result2 li a{color:#999; font-family:arial;}
body{margin:0 3%;padding:0;font:normal 85% Verdana, Arial, Helvetica, sans-serif;color:#746169; background:#fff;}

fieldset{padding:0;border:none; float:none;}
legend{padding:10px;}

a{font-weight:bold; color:#74a116;text-decoration:underline;}
a:hover{color:#96a399; text-decoration:none;}
img{border:0;margin:0;padding:0;}

/*--TITULOS--*/
h1 a, h2 a, h3 a{text-decoration:none;}
h1, h2, h3, h4, h5{margin:0;padding:0;font-family: Verdana, Arial, Helvetica, sans-serif; color:#448263;}

h3{font-size:1.4em;}
h4{font-size:1.2em;padding-bottom:8px;}
h4 a{font-size:0.9em;}
h5{font-size:1em; margin:4px 0;padding:2px 0; border-bottom:1px solid #ccc;}

/*--LISTAS--*/
ol{margin:0 0 15px 35px;padding:0;}
ol li{list-style-type:decimal;padding:3px 0;}
ul{margin:0;padding:0;}
ul li{margin:0;padding:0;list-style-type:none;}
dl{margin-left:10px;padding:0;}
dt{margin:0;padding:4px 15px; font-weight:bold;}
dd{margin:0;padding:0 15px;}


/*--TABLAS--*/
table{font-size:1em; text-align:left;width:100% !important; width:auto;}
caption{font-weight:bold;}
th{border-bottom:1px solid #bfbfbf; border-top:1px solid #bfbfbf; font-weight:normal;padding:5px 3px 5px 1%; background:#f8f8f8;}
td{padding:8px 3px 8px 1%;border-top:3px solid #fff;border-bottom:1px solid #bfbfbf;font-weight:bold;}

acronym{cursor:help;}
cite{cursor:help;}
blockquote{cursor:help;margin:0;}
address{font-style:normal;float:left;}
kbd{font:normal .8em "Lucida console", Courier, monospace;border-top:.15em solid #ccc;border-right:.25em solid #aaa;border-bottom:.3em solid #888;border-left:.2em solid #bbb;padding:.06em .3em;margin:0 1.5px;background:#eee;vertical-align: text-bottom;cursor:help;}
em{font-style:italic;}
textarea{font-family:Arial, Helvetica, sans-serif}

/*-----COMUNES------*/
.hidden, .mensaje, .tituloAlt, .noticiasAlt{position:absolute;top:0;left:0;z-index:-100;visibility:hidden;}
.puntosH{clear:both; padding:5px 0; background: #fff url(../../images/separadorH.gif) repeat-x 0 50%;}
.both, .clear{clear:both; padding:1px 0 0 0;}
.separador{background:url(../../images/fondSeparador.gif) repeat-x; clear:both; margin:15px 0 3px 0; padding:2px 0; float:left; width:100%; font-size:0;}
ul.listasAsoc{margin:10px 20px;}
ul.listasAsoc li{ background:url(../../images/puntoLi2.gif) no-repeat 0 6px; padding:2px 0 8px 10px; font-weight:bold; color:#6c823f;}
.btnlink{margin:0 2px; text-align:left; cursor:pointer; border:none; background:none; font:bold 1em Verdana, Arial, Helvetica, sans-serif; color:#74b346; text-decoration:underline; width:auto;}
.btnlink:hover{color:#1a5a30;}
.btn{margin:0 2px; cursor:pointer; border:1px solid #acacac;  background:none; font:bold 1em Verdana, Arial, Helvetica, sans-serif; color:#74b346; text-decoration:underline; width:auto;}
.btn:hover{color:#1a5a30;}
.login{margin:10px 0;}
.login span{width:30%;float:left; padding:5px 5px 5px 10%;}
/*-----ESTRUCTURA - SOMBREADO EXTERIOR------*/
#contenido{width:100%; float:left;clear:both;}

#sombraSup{background:url(../../images/bordeSup.gif) repeat-x; height:15px;width:100%; float:left; clear:both;}
#sombraSupIzq{background:url(../../images/esqSupIzq.gif) no-repeat; height:15px;width:15px; float:left;}
#sombraSupDcha{background:url(../../images/esqSupDcha.gif) no-repeat; height:15px;width:15px; float:right;}

#sombraInf{background:url(../../images/bordeInf.gif) repeat-x; height:15px;width:100%; float:left; clear:both;}
#sombraInfIzq{background:url(../../images/esqInfIzq.gif) no-repeat; height:15px;width:15px; float:left;}
#sombraInfDcha{background:url(../../images/esqInfDcha.gif) no-repeat; height:15px;width:15px; float:right;}


#contCentral{width:100%; float:left; background: url(../../images/bordeIzq.gif) repeat-y;clear:both;}
#contCentral2{width:100%; float:left; background: url(../../images/bordeDcha.gif) repeat-y right;clear:both;}
/*-----ESTRUCTURA - SOMBREADO EXTERIOR------*/


/*-----ESTRUCTURA - CAPAS Y BLOQUES COMUNES------*/
#padding4{padding:0 15px;}

#encabezado{width:100%; float:left; background:#236f45 url(../../images/fondoEncab.gif) repeat-x bottom;}
#bloqueLogo{float:left;margin-left:47px !important; margin-left:23px;}

#bloqueUtilidades{float:left; width:100%; background:#fff url(../../images/fondoDirec.gif) repeat-x bottom; padding-bottom:10px; border-top:1px solid #dadada; margin-top:1px;}
#utilidDcha{float:right; width:24.9%; background:#277043 url(../../images/fondoBusq.gif) repeat-x bottom;}


/*-----MENU ACCESIBILIDAD------*/
#bloqueAccesib{float:left;width:100%;  background:#ecede9 url(../../images/fondoAccesib.gif) repeat-x bottom; border-top:1px solid #c9ccbd;}
#bloquelogoSup{float:left; width:100%;}
#bloqueAccesib ul{float:right; margin:0 6px 0 220px; padding:5px 4px;}
#bloqueAccesib ul li{float:left; margin:0 2px;}
#bloqueAccesib ul li a{text-decoration:none; color:#605d4c; font-weight:normal;}
#bloqueAccesib a:hover{color:#73ab0e;}
.altoContraste{background: url(../../images/altoContraste.gif) no-repeat 0 1px ; padding:2px 2px 2px 20px; display:block;}
.soloTexto{background: url(../../images/soloTexto.gif) no-repeat 1px 0; padding:2px 2px 2px 18px; display:block;}
.accesib{background: url(../../images/accesib.gif) no-repeat 1px 0; padding:2px 2px 2px 18px; display:block;}
.mapa{background: url(../../images/mapa.gif) no-repeat 1px 0; padding:2px 2px 2px 20px; display:block;}
.contacto{background: url(../../images/contacto.gif) no-repeat 1px 0; padding:2px 2px 2px 18px; display:block;}

.txtamano a{padding:3px 4px; font:bold 1.2em "Times New Roman", Times, serif !important; color:#106135 !important;}

/*-----INICIO------*/
#bloqueInicio{padding:4px 0 6px 4px; color:#011d0b;clear:both;}
#bloqueInicio a{color:#011d0b; text-decoration:none;font-weight:normal;}
#bloqueInicio span a{font-weight:bold !important;}
#bloqueInicio a:hover{color:#3d664c;}

/*----BUSCAR-----*/
#bloqueBusq{padding:5px 0 5px 7px;}
#bloqueBusq div{padding: 7px 0 5px 3px;}
#bloqueBusq h3{position:absolute;top:0;left:0;z-index:-100;visibility:hidden;}
.campogen{border:1px solid #acacac; font-size:0.9em; padding:1px 2px; width:63%; color:#767b77; margin-right:4px;}
.campo{border:1px solid #d8eaab; font-size:0.9em; padding:2px;}
.botonB{border:none;cursor:pointer; background:url(../../images/boton.gif) no-repeat; padding:1px 0; width:5.5em; height:17px; text-align:center; font-size:0.9em; margin:0;}
.boton{ background:#d2e79f; border:1px solid #b3c97d; color:#505050; font-size:1em; text-align:center; width:4em; cursor:pointer;}

#barraDirec{width:75%; float:left; padding:3px 0 10px 0;}
.comunidad{float:left; margin-left:2%; color:#177025; padding:2px 1%; font:bold 1.2em Arial, Helvetica, sans-serif;}
.domicilio{float:left; color:#777; padding:4px 10px;}
.volver{float:left; padding-left:10px; background:#f3f3f0 url(../../images/separadorV.gif) repeat-y right;}
.volver a{display:block; background: url(../../images/flechaVolver.gif) no-repeat 0 7px; padding: 5px 10px 5px 15px;color:#037a3a;}
.volver a:hover{color:#83ba68;}

/*-----PARTE CENTRAL ESTRUCTURA------*/
#bloqueInterior{float:left; width:100%; background: url(../../images/separadorV.gif) repeat-y 21% 0; margin:6px 0 0 0; clear: both;}
#bloqueIzq{width:19.5%; float:left;}
#bloqueCentro{width:79%; float:right; background: url(../../images/separadorV.gif) repeat-y 75%;}
#bloqueDcha{width:22%; float:right; margin-right:1% !important; margin-right:0;}
#parteCentral{float:left; width:70%; padding:0 3%;}
#parteCentral2{float:right; width:90%; padding:7px 4%; text-align:justify; background:#fff;}
#parteInferior{float:right; width:90%; padding:6px 50%; bottom:inherit; text-align:justify;}
 
#parteCentral p { text-align:justify;}
#parteInferior p { text-align:justify;}
/*--ENCUESTA--*/
#bloqueEncuesta{border:1px solid #b4d1b4;float:left; margin: 10px 0 10px 5px; border-top:3px solid #3f8c62; background: url(../../images/fondoRaya.gif);}
#bloqueEncuesta h3{padding:12px 6px 20px 35%; font-size:1.4em; background:#fff url(../../images/encuesta.jpg) no-repeat; margin:0; text-transform:lowercase;}
.cuerpoencuesta{margin:10px; background:#fff; padding:3px 6px;}
.enunciado{text-align:justify; display:block; padding:0 4px;}

.formulario{margin:7px 0 0 0;}
.votar{padding: 7px 3px 3px 15px;}

/*--zona banner--*/
.tbanner{ background: url(../../images/titBanner.gif) no-repeat 7px 2px; padding:3px 3px 3px 35px; font-size:1.2em; color:#7b7b7b; text-transform:lowercase;}
.tbanner span{ color:#90b71d;}
.contBanner{display:block; border:1px solid #d5d5d5; margin:5px 0; padding:6px; text-align:center; clear:both;overflow:hidden;}
.contOficiales{display:block; margin:10px 0; text-align:center; clear:both; overflow:hidden;padding-top:15px;}

/*-----noticias portada------*/ .bloque { float:left;  width:100%;}
#bloqueTitNot{float:left; width:100%; background:#8fbb9f url(../../images/fondoTit.gif) no-repeat; padding:0;}
#bloqueNot{ background:#fff;float:right;width:auto; margin-left:29px; }/*---poner width:auto;----*/
#bordeNot{padding:5px; border:1px solid #9fb19c;margin:5px 1.5% 0 1.5%; float:left; width:95.5% !important; width:92.6%; background:#f4f9f4;}


/*-----PARTE CENTRAL------*/
.fecha{margin-bottom:8px; padding:0 7px; border-left:3px solid #98c6ac;clear:both;}
.fecha2{margin-bottom:8px;clear:both; font-style:italic; color:#788e82; padding-left:25px; background:url(../../images/fecha.gif) no-repeat 10px 1px;}
.titular{ background:#f3f8f5; color:#328456; padding:4px 10px; margin:10px 0; font-size:1.1em;}
.titulo{clear:both;color:#185433; padding:5px 0 15px 0; background:url(../../images/fondoTit2.gif) repeat-x bottom;}
.titulo h2, .titulo h3{padding:0 0 7px 32px; background:url(../../images/titulos.gif) no-repeat 5px 2px;font:bold 1.8em Arial, Helvetica, sans-serif;}
.linkNotic{clear:both; float:left;}
.linkNotic a{display:block; background:url(../../images/flecha.gif) no-repeat 100% 4px; margin: 7px 0; padding:3px 16px 3px 3px;}

.textobloque3{padding:5px 0; text-align:justify; clear:both; float:left; width:100%;}
.textobloque2{padding:2px 1% 15px 1%; text-align:justify; clear:both; float:left; width:98%;}
.textobloque{padding:12px; background:#fff url(../../images/separadorH.gif) repeat-x bottom; clear:both;text-align:justify;}.textobloque h3{text-align:justify; font: bold 1.1em Verdana, Arial, Helvetica, sans-serif; padding-bottom:8px;}
.textobloque h3 a{color:#356846;}
.textobloque h3 a:hover{color:#45be71;}
.imagen{float:left; padding: 0 15px 1px 0;}
.imagen img{border:1px solid #CCC !important;}
.btNoticias{float:left; width:94%;padding:7px 3%; clear:both;}
.btNoticias a{float:right; background:url(../../images/btNoticias.gif) no-repeat; display:block; padding:2px 20px 6px 20px; text-decoration:none;}

/*-----ASOCIADOS------*/
.fichaAsociados{border:1px solid #8fbb9f; background:#f0f5f0;margin:5px 0; clear:both;}
.padding10{padding:10px;font-family: Arial, Helvetica, sans-serif; clear:both;}
.padding2{background:#fff;padding:10px;clear:both;}

.tit_fichaA{background:#4d8f69 url(../../images/fichaAsociados.gif) no-repeat 4px 2px; height:20px; border-bottom:1px solid #fff; margin:0 !important; padding:0 !important; width:100%; clear:both;}
.tit_fichaA h4{position:absolute;top:0;left:0;z-index:-100;visibility:hidden;}

.logoAsoc{background:#fff; padding:5px; float:left; width:30%; text-align:center; overflow:hidden; min-height:108px;}
.parteDechaL{float:right; width:64%; margin:0 0 0 2%; display:block;background:#fff;}

.tituloAsoc{padding:5px 10px; background:#fff; margin:0; display:block; border:1px solid #c3dec3;}
.tituloAsoc h5{border:none; font-size:1.3em !important; color:#185433; margin:0;font-family: Arial, Helvetica, sans-serif;}
.direc{padding:5px 3%; border-top:10px solid #f0f5f0; display:block; color:#15663a;}
.descripcion{clear:both; float: left; width:96%; padding:2%;background:#fff;display:block; color:#15663a; margin-top:10px;}

.situacionAsoc{margin:10px 0; padding:5px 0 5px 7%; background:#e6efe6 url(../../images/sit_fichaAsociados.gif) no-repeat 3px 1px; color:#185433; font-size:1.1em; display:block; float:left; width:93%; clear:both;}
.noticiasAsoc{margin:0 0 10px 0; padding:5px 0 5px 7%; background:#e6efe6 url(../../images/ico_fichaAsociados.gif) no-repeat 3px 1px; color:#185433; font-size:1.1em; display:block; float:left; width:93%; clear:both;}
.bloqueNotAsoc1{float:left; width:43%; padding:3px 4% 3px 2%; background:url(../../images/separadorV.gif) repeat-y right;}
.bloqueNotAsoc2{float:right; width:45%; padding:3px 2% 3px 2%;}
.notAsoc{border:none;}
.notAsoc a{text-decoration:none; color:#328456; font-size:1.1em;}
.plano{overflow:hidden; float:left; clear:both; width:96%; padding:2%;}
/*---------*/


/*-----destacados portada------*/
#bloqueTitDestac{float:left; width:100%; background: #4d906a url(../../images/fondoDestacados.gif) no-repeat; padding:0; margin-top:20px; border-bottom:10px solid #fff;}
#bloqueDest{background:#fff;float:right; width:auto;margin-left:29px;}/*---poner width:auto;----*/
#margenDest{margin:0 0 0 1.5%; float:left; width:98.5%; background:#fff;}

/*-----IMAGENES INFERIORES------*/

.fSombra50{background: url(../../images/fondoImg.gif) repeat-x;float:left; width:100%;}
.imgClip{background: url(../../images/fondoClip.gif) no-repeat;float:left; width:100%;}
.imgDerecha1, .imgDerecha2, .imgDerecha3{float:left; width:100%;}
.margenImg{padding:15px 100px 10px 35px;}
.imgDerecha1{background: url(../../images/imgRaton.jpg) no-repeat 100% 0;}
.imgDerecha2{background: url(../../images/imgAsoc.jpg) no-repeat 100% 0;}
.imgDerecha3{background: url(../../images/imgProg.jpg) no-repeat 100% 0;}
.imgDerecha1 h3, .imgDerecha2 h3, .imgDerecha3 h3{color:#356846;font:bold 1.3em Arial, Helvetica, sans-serif; display:block; padding-bottom:8px;}
.imgDerecha1 h3 span, .imgDerecha2 h3 span, .imgDerecha3 h3 span{color:#0b8d37;font:bold 1.3em Arial, Helvetica, sans-serif; text-transform:lowercase;}
.subtit{font:bold 0.8em Verdana, Arial, Helvetica, sans-serif; padding:3px 0;color:#678d74;}
.frase{padding:4px 0; text-align:justify; float:left; width:100%;}


/*-----MENU PRINCIPAL------*/
#bloqueMenu{float:left; width:96%; padding-left:5px;}
#bloqueMenu ul{float:left; width:100%;}
#bloqueMenu ul li{background:url(../../images/fondoMenu.gif) repeat-x bottom; margin:3px 0;}
#bloqueMenu ul li a{color:#57755d; font:normal 1em Verdana, Arial, Helvetica, sans-serif; text-decoration:none; display:block; padding: 6px 4px 7px 25px; background: url(../../images/flechaMenu.gif) no-repeat 12px 8px; border-left:3px solid #34835b; border-right:1px solid #ddd; font-weight:bold;}
#bloqueMenu ul li a:hover{text-decoration:none;background:#e9f0ec url(../../images/fondoMenuH.gif) repeat-x bottom; color:#40955c; border-left:3px solid #58ad74;}
.menuTit{text-transform:lowercase; padding:3px 5px 3px 38px; font-size:1.2em; background:url(../../images/titMenu.gif) no-repeat 9px 4px;}
.menuTit span{color:#868d89;}

/*-----MENU ASOCIACIONES------*/
/*-----MENU ASOCIACIONES------*/
#bloqueMenuAsoc{float:left; width:97%; padding:0 0 10px 5px;}
#bloqueMenuAsoc ul{float:left; width:100%;}
#bloqueMenuAsoc ul li{background: url(../../images/separadorH.gif) repeat-x bottom;}
#bloqueMenuAsoc ul li a{color:#3b4d3f; font:normal 1em Verdana, Arial, Helvetica, sans-serif; text-decoration:none; display:block; padding: 5px 4px 7px 27px; background: url(../images/signoMas.gif) no-repeat 10px 8px; font-weight:bold;}
#bloqueMenuAsoc ul li a:hover{text-decoration:none; color:#40955c;}


/*-----PIE------*/
#sombraPie{background: url(../../images/sombraPie.gif) repeat-x; height:10px;width:100%; float:left;clear:both;}
#pie{color:#fff;background:#589572 url(../../images/fondoPie.gif) repeat-x bottom; float:left; width:100%; clear:both;padding:7px 0; border-bottom:1px solid #004314;}
#izqPie{float:left; width:63%!important; width:59%; padding-left:3%;}
#dchaPie{float:right; width:29%; padding:10px 15px 10px 5px;}
#dchaPie a{padding:2px; float:left;}

#izqPie ul{background: url(../../images/flechaPie.gif) no-repeat 4px 8px; padding:3px 10px; float:left; clear:both; width:99%;}
#izqPie ul li{float:left; padding: 0 5px 0 2px;}
#izqPie ul li a {color:#fff; text-decoration:underline;border-left:1px solid #fff;padding-left:5px;}
#izqPie ul li a:hover{color:#e9ffa8;}
.tel{padding-left: 16px; background: url(../../images/tel.gif) no-repeat 1px 1px;}
a.mail{padding-left: 16px !important; background: url(../../images/contact.gif) no-repeat 0 3px; border:none !important;}


/*-----ACCESIBILIDAD------*/
.tipo1{font-size:1.1em; border-bottom:1px solid #dadada; color:#98a351;padding: 3px 0;margin:7px 0;  clear:both;}
.conjunto{width: 98%; clear:both; float:left; margin:0 1%;}
.c22{float: left; padding: 0 1% 5px 0}
.listagenerica{margin:15px 10px 10px 20px;}
.listagenerica li{padding:2px 2px 2px 10px; background: url(../../images/puntoLi.gif) no-repeat 0px 7px;}

/*-----MAPA WEB------*/
.mapaweb{ padding:10px;}
.mapaweb li{ padding:4px 0 3px 18px; background: url(../../images/signoMas.gif) no-repeat 0 8px;}



/*--CALENDARIO--*/
#bloqueCalendar{float:left; width:95%; margin: 7px 0 0 5px; padding:0 5px 28px 0; background: url(../../images/fondo_calendar.jpg) no-repeat 100% 100%;} #bloqueCalendar table{ width:97%;}
#bloqueCalendar h3{background:#3f8c62; color:#fff; font:bold 1.2em Arial, Helvetica, sans-serif; text-align:center; padding:2px 0;}
#bloqueCalendar caption{padding: 2px 0; font: bold 1.2em Arial;}
#bloqueCalendar td{ padding: 1px 3px 1px 0; border: 0; text-align:right;}
#bloqueCalendar th{ padding:2px 0; text-align:center; color:#448263;}
#bloqueCalendar a{padding:0 2px 1px 2px;} #bloqueCalendar table a{color:#fff; background: #448263; padding:0 2px 1px 2px;}
 .leyenda{float:left; width:95%;margin: 0 0 10px 5px;}
.leyenda li{padding: 0 0 5px 17px; background: url(../../images_contraste/leyenda.gif) no-repeat; font-weight:bold;}
 
.calendarText{float:left; width:95%;margin-left: 8px;}
.calendarText a{display:block; padding-bottom:5px; border-bottom:1px dotted #ccc;}
.calendarText h4{display:block; margin-top:4px; padding-bottom:2px; font: bold 1em Arial;}
.calendarText h4 a{color:#009041; text-decoration:none;}
.calendarText p{display:block; text-align:justify; margin:0; padding: 2px 0;}
.calendar{ background:url(../../images/calend.gif) no-repeat; padding: 1px 0 1px 22px;}
/*----*/


.paginacion ul{margin:5px 0 5px 10px;padding:0; }
.paginacion li{float:left; background:none !important}
.pag{ border:none; color:#0056a9; background:#FFF}
.pag:hover{color:#000; text-decoration:underline !important; background:#FFF}