#* 
	comments: 
	
	Author: Luis Molina
*#  
<nameFile>listado_${table}</nameFile>
<extensionFile>aspx</extensionFile>
<languageGenerated>c_sharp</languageGenerated>
<description>description</description>
<targetDirectory>main_${table}</targetDirectory>
<appliesToAllTables>true</appliesToAllTables>


<%@ Page Language="C#" MasterPageFile="~/portal/master/masterWeb.Master" AutoEventWireup="true" CodeBehind="listado_${table}.aspx.cs" Inherits="${project}.portal.main_${table}.listado_${table}" Title="Página sin título" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
			 <div class="titulo"><h2>${table}</h2></div>
			<div class="general">
 					<p>Consultar el listado de ${table} </p>
					<ul class="list${table}">
					  <asp:Repeater ID="Repeater1" runat="server">
                         <ItemTemplate>
                          <li>  <a  class="asoc" href="ficha_${table}.aspx?id=<%#Eval("${table.getKey()}")%>"><%#Eval("${table.getKey()}")%></a></li>
                        #set ($count = 0)
						#foreach( $field in $table.GetFields )
						  #if (!$field.isKey())     
									  #if ($field.type.toString() == "_integer")
										#if ( $field.isForeignKey())
											   <li>  <a  class="asoc" href="ficha_${table}.aspx?id=<%#Eval("${table.getKey()}")%>"><%#Eval("${table.getKey()}")%></a></li>
                        			#end            
									  #end 
									  #if ($field.type.toString() == "_string")
			  								   <li>  <%#Eval("${field.Name}")%></li>
                        			 #end 
									  #if ($field.type.toString() == "_date")
			  									   <li>  <%#Eval("${field.Name}")%></li>
                        				 #end 
									  #if ($field.type.toString() == "_boolean")
			  									   <li>  <%#Eval("${field.Name}")%></li>
                        			 #end 
									  #if ($field.type.toString() == "_image")
			  									  <li>  <%#Eval("${field.Name}")%></li>
                        			 #end 
									  #if ($field.type.toString() == "_document")
			  									   <li>  <%#Eval("${field.Name}")%></li>
                        				 #end 
										 #if ($field.type.toString() == "_audio")
			  								   <li>  <%#Eval("${field.Name}")%></li>
                        				 #end 
							#set ($count = $count + 1 )
						 #end
						#end 
                          
                         </ItemTemplate>
                        </asp:Repeater>                          
					</ul>
					

 

		 
			  
			</div>
			
</asp:Content>
