#* 
	comments: 
	muestra la estructura
 para todas las tablas de una base de datos...
 
	Author: Luis Molina
*#   
 
<nameFile>main_$table</nameFile>
<extensionFile>aspx.cs</extensionFile>
<languageGenerated>c_sharp</languageGenerated>
<description>description</description>
<targetDirectory>${table}_dir</targetDirectory>
<appliesToAllTables>true</appliesToAllTables>


#
# Database structure for database '${project}'
#

CREATE DATABASE /*!32312 IF NOT EXISTS*/ "${project}" /*!40100 DEFAULT CHARACTER SET latin1 */;

USE "${project}";


#foreach( $tablita in $project.getTables()) 
 
#
# Table structure for table '${tablita}'
#


CREATE TABLE /*!32312 IF NOT EXISTS*/ "${tablita}" (
 
	<#list tablita.getFields() as field>
	 
		 
		 
			  #if ($field.type.toString() == "_integer")
			     "${field}" int(${field.getSize()}) unsigned NOT NULL 
				 
				#end
			  #if ($field.type.toString() == "_string")
			     "${field}" varchar(${field.getSize()}) NOT NULL default '',
			     #end
			  #if ($field.type.toString() == "_date")
			     "${field}" datetime NOT NULL default '0000-00-00 00:00:00',
			     #end
			  #if ($field.type.toString() == "_boolean")
			     "${field}" tinyint(1) NOT NULL default '0',
			     #end
			  
	#end		
	PRIMARY KEY  (${table.getListOfKeyFields(",")}),
	# KEY "catid" ("catid","published","archived")
);


#
# Dumping data for table '#__weblinks'
#

# No data found.



#end


