#* 
	comments: 
	creates a sentence for every table in sql server...
	Author: Luis Molina
*#   

<nameFile>main_$table</nameFile>
<extensionFile>aspx.cs</extensionFile>
<languageGenerated>c_sharp</languageGenerated>
<description>description</description>
<targetDirectory>${table}_dir</targetDirectory>
<appliesToAllTables>true</appliesToAllTables>


/* Delete all tables...	*/
/* --------------------	*/
/* 
#foreach( $tablita in $project.getTables())  
        delete ${tablita}		
#end
*/
	
#foreach( $tablita in $project.getTables()) 
	/* Table structure for table '${tablita}'	*/
	/* -------------------------------------	*/

	CREATE TABLE "${tablita}" (	 
		 #foreach( $field in $tablita.getFields())  
			  #if ($field.type.toString() == "_integer")
				 #if ($field.isKey())
					   [${field}] [int] IDENTITY(1,1) NOT NULL,
					#else
						 [${field}] [int] NULL default (0),
				#end
				#end
			  #if ($field.type.toString() == "_string")
				#if ( $field.size() == 1)
						[${field}] [char](1) COLLATE Modern_Spanish_CI_AS NULL default ${field.defaultValue},
					#else
						 [${field}] [varchar](${field.getSize()}) COLLATE Modern_Spanish_CI_AS NULL default ${field.defaultValue},
				#end
				
			#end
			#if ($field.type.toString() == "_date")
				[${field}] [datetime] NULL,
			#end
			#if ($field.type.toString() == "_boolean")
				[${field}] [bit] NULL DEFAULT (${field.defaultValue}),
			#end
		#end
			  
#end		
	PRIMARY KEY  (${tablita.getListOnlyKeyFields(",")}),
	 
);
	



 


