#* 
	comments: 
	
	Author: Luis Molina
*#  

  <nameFile>login</nameFile>
<extensionFile>aspx</extensionFile>
<languageGenerated>c_sharp</languageGenerated>
<description>description</description>
<targetDirectory></targetDirectory>
<appliesToAllTables>true</appliesToAllTables>
 

<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="login.aspx.cs" Inherits="${project.name}.admin.login.login" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

 
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    
    <script type="text/javascript" src="../../includes/portal.js"></script>
    <title></title>
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="distribution" content="global" />
	<meta name="resource-type" content="document" />
	<meta name="author" content="IPI-(Ingenier&iacute;a de Procesos Inform&aacute;ticos)" />
	<meta name="copyright" content="IPI-(Ingenier&iacute;a de Procesos Inform&aacute;ticos)" />
	<meta name="keywords" content="IPI, tecnologia, tecnologica, innovacion" />
    <link href="../../App_Themes/admin/admin.css" rel="stylesheet" type="text/css" />
</head>
 
<body xml:lang="es">
    <form id="form1" runat="server">

        <div id="centrologin">

	<h1 class="h1hidden">
        Administración </h1>

	<div id="logologin">
 
	 
	</div>
            
	<p class="center">Inserte su nombre de usuario y contrase&ntilde;a:</p>
    <hr class="hidden" />
      <asp:Panel ID="Panel1" runat="server" DefaultButton="btnEntrar">
         
       <div id="bordelogin"><!--borde princip-->
				
				<div class="login">
				<span>
                    Usuario
                </span>&nbsp;
            <label for="txtlogix">
                <asp:TextBox ID="txtlogix" runat="server" Width="150px"></asp:TextBox>
            </label>
				</div>
				<div class="login">
					<span>Contrase&ntilde;a:</span>&nbsp;
            <label for="txtpasx">					
                <asp:TextBox ID="txtpasx" runat="server" Width="150px" TextMode="Password"></asp:TextBox>
            </label>
				</div>
				<div class="login">
				<label for="btnEntrar">
					<span></span>&nbsp;<asp:Button ID="btnEntrar" runat="server" Text="Entrar" Width="177px" OnClick="btnEntrar_Click" CssClass="btn" />
				</label></div>

	</div><!--ACABA BORDE PRINCP-->
	  
         
    </asp:Panel>
	  <!--BORDE INTERIOR PRINCIPAL-->

</div><!--ACABA CAPA CENTRO-->
    
    </form>
</body>
</html>
