<nameFile>main_${table}</nameFile>
<extensionFile>aspx.cs</extensionFile>
<targetDirectory>${table}_dir</targetDirectory>
<appliesToAllTables>true</appliesToAllTables>
using System;
using System.Data;
using System.Configuration;
using System.Collections;
using System.Web;
using System.Web.Security;
using System.Web.UI;
using System.Web.UI.WebControls;
using System.Web.UI.WebControls.WebParts;
using System.Web.UI.HtmlControls;

using System.Collections.Generic;

namespace juleweb.${table}_dir
{

  

public partial class main_${table} : System.Web.UI.Page
{

	protected List<message> messageList = new List<message>();
	
	protected void Page_Load(object sender, EventArgs e) 
	{
		PanelAviso.Visible = false;
		
		TextBox[] textBoxes;
        textBoxes = new TextBox[3];
		#set ($countDates = 0)
		#foreach( $field in $table.GetFields )		 
			#if (!$field.isKey())
				#if ($field.targetType.toString() == "_date")
					textBoxes.SetValue(${field}, $countDates);
				#end 
			#end 		
			#set ($countDates = $countDates + 1 )
		#end 
		Util.JQueryUtils.RegisterTextBoxForDatePicker(Page, textBoxes);
		
		if (!Page.IsPostBack)
		{
			#foreach( $relation in $table.getRelations() )
				#if ($table.getKey != $relation.childField())
					lo.comboRellenar(cmb${relation.childField()}, "select ${relation.parentField()},${relation.parentDescription()} from ${relation.parentTable()} ", ctes.conStringAdoGeneral, "Seleccione");
				#end
			#end
		// si nos mandan para borrar...
		if (Request["idb"] != null)
		{
			${table}.Delete(sf.entero(Request["idb"]));
			Response.Redirect("./listado_${table}.aspx");
		}
		if (Request["id"] != null)
		{
		
			#* codigo para relaciones uno a mucho...*#
			#foreach( $relation in $project.getRelations() )
 				#* only if has a relation and its the child table.. *#
 				#if ($relation.parentTable.equals(${table.name}) && $relation.relationType.toString()=="hasMany" )	
					// code for relation one to many...	
					#foreach( $tablaPadre in $project.getTables() )
						#if ($relation.childTable.equals(${tablaPadre.name}))
							List<${tablaPadre.name}> lista${tablaPadre.name} = new List<${tablaPadre.name}>();
							lista${tablaPadre.name} = ${tablaPadre.name}.getListBy${relation.childField}(sf.entero(Request["id"]));
			     
							rp${tablaPadre}.DataSource = lista${tablaPadre.name};
							rp${tablaPadre}.DataBind(); 
										
						#end
					#end			
				#end
			#end 
			#* fin codigo para relaciones uno a mucho...*#
			
			${table} res = new ${table}(sf.entero(Request["id"]));			
			
#set ($count = 0)
#foreach( $field in $table.GetFields )
#if (!$field.isKey())
#if ($field.toString()!= "idportal")	
#if ($field.targetType.toString() == "_integer")
#if (! $field.isForeignKey())
  txt${field}.Text = sf.cadena(res.${field});
#end
#end 
 	#if (!$field.isKey())
		#if ($field.targetType.toString() == "_string") 
			txt${field}.Text = res.${field}; 
		#end 
		#if ($field.targetType.toString() == "_text") 
			txt${field}.Text = res.${field}; 
		#end 
		#if ($field.targetType.toString() == "_bigString") 
			txt${field}.Text = res.${field}; 
		#end 
			#if ($field.targetType.toString() == "_double") 
			txt${field}.Text = sf.cadena(res.${field}); 
		#end 
		#if ($field.targetType.toString() == "_date")
		if (sf.esFecha(res.${field}))
		  {
			//${field}.SelectedDate = res.${field};
			//${field}.VisibleDate = res.${field};
			${field}.Text = res.${field}.ToShortDateString();
		  }		
		#end 
		#if ($field.targetType.toString() == "_boolean")
		ck${field}.Checked = sf.boolean(res.${field});
		#end 
		#if ($field.targetType.toString() == "_image")
		if (sf.cadena(res.${field}) != "")
		{
			img${field}.ImageUrl = res.${field};
			img${field}.Visible = true;
			//imgNoticia.AlternateText = " " + res.titulo;
			btnborrarimagen${field}.Visible = true;
			FileUploadImagen${field}.Visible = false;
		}
		#end 
		#if ($field.targetType.toString() == "_document")
		if (sf.cadena(res.${field}) != "")
		{
			lbl${field}.Text = sf.Right(res.${field},res.${field}.Length-19);
			lbl${field}.Visible = true;
			 
			btnborrar${field}.Visible = true;
			FileUpload${field}.Visible = false;
		}
		#end 	
#end	
#end	
#end
#set ($count = $count + 1 )
#end 


#foreach( $relation in $table.getRelations() )
	#if ($table.getKey != $relation.childField())
		lo.comboSeleccionarItem(cmb${relation.childField()}, sf.cadena(res.${relation.childField()}), "Id");
	#end
#end 

		}
		else
		{
			butModificar.Text = "Insertar";
		}
		 }
	}

	protected void butModificar_Click(object sender, EventArgs e)
	{
		messageList = new List<message>();
		
		// modificar
		if (Request["id"] != null)
		{
			validateData();
			if (messageList.Count > 0)
			{
				 showMessages();
				 return;
			}

   
			${table} res = new ${table}(sf.entero(Request["id"]));
 
			#set ($count = 0)
			#foreach( $field in $table.GetFields )
			 #if ($field == "idportal")	
			 #else
			 	#if (!$field.isKey())				 
						  #if ($field.targetType.toString() == "_integer")
							#if (! $field.isForeignKey())
								res.${field}=sf.entero(txt${field}.Text) ;
							#else
								 res.${field}=sf.entero(cmb${field}.SelectedValue) ;
							 #end                                   
						 #end 
						  #if ($field.targetType.toString() == "_string")
							res.${field}=sf.cadena(txt${field}.Text);			
						 #end 
						   #if ($field.targetType.toString() == "_text")
							res.${field}=sf.cadena(txt${field}.Text);			
						 #end 
						 #if ($field.targetType.toString() == "_double")
							res.${field}=sf.doble(txt${field}.Text);			
						 #end
						 #if ($field.targetType.toString() == "_date")
							//res.${field}=sf.fecha(${field}.SelectedDate) ;
							res.${field}=sf.fecha(${field}.Text) ;
						  #end 
						  #if ($field.targetType.toString() == "_boolean")
							 res.${field}=sf.boolean(ck${field}.Checked) ;
						  #end 
						#if ($field.targetType.toString() == "_image")
							if (FileUploadImagen${field}.PostedFile == null) { }
							else
							{
								if (FileUploadImagen${field}.FileName != "")
								{
									if (!System.IO.File.Exists(Server.MapPath("../../bdimages/") + sf.cadena(HttpContext.Current.Session["admin"]) + FileUploadImagen${field}.FileName))
									{
										res.${field} = "../../bdimages/" + sf.cadena(HttpContext.Current.Session["admin"]) + FileUploadImagen${field}.FileName;
										FileUploadImagen${field}.SaveAs(Server.MapPath("../../bdimages/") + sf.cadena(HttpContext.Current.Session["admin"]) + FileUploadImagen${field}.FileName);
										img${field}.ImageUrl = res.${field};
										//img${field}.AlternateText = " " + res.titulo;
										img${field}.Visible = true;
										btnborrarimagen${field}.Visible = true;
										FileUploadImagen${field}.Visible = false;

									}
									else
									{//mensaje("El archivo ya existe, elija otro nombre");
									}
										
								}
							}
						 #end 
						#if ($field.targetType.toString() == "_document")
							if (FileUpload${field}.PostedFile == null) { }
							else
							{
								if (FileUpload${field}.FileName != "")
								{
									if (!System.IO.File.Exists(Server.MapPath("../../bddocumentos/") + sf.cadena(HttpContext.Current.Session["admin"]) + FileUpload${field}.FileName))
									{
										res.${field} = "../../bddocumentos/" + sf.cadena(HttpContext.Current.Session["admin"]) + FileUpload${field}.FileName;
										FileUpload${field}.SaveAs(Server.MapPath("../../bddocumentos/") + sf.cadena(HttpContext.Current.Session["admin"]) + FileUpload${field}.FileName);
										lbl${field}.Text = res.${field};
										//img${field}.AlternateText = " " + res.titulo;
										lbl${field}.Visible = true;
										btnborrar${field}.Visible = true;
										FileUpload${field}.Visible = false;

									}
									else
									{//mensaje("El archivo ya existe, elija otro nombre");
									}
										
								}
							}
							#end 	
							 #end 									 
					 #end 
				#set ($count = $count + 1 )
			#end 

			res.Update();
			res = null;
			messageList.Add(new message("Modificaci&oacute;n correcta", message.typeOfMessage.success));    

			showMessages();
	
		}
		// insertar...
		else
		{

			validateData();
			if (messageList.Count > 0)
			{
				 showMessages();
				 return;
			}
        
			${table} res = new ${table}(); 
			#set ($count = 0)
			#foreach( $field in $table.GetFields )
			 #if ($field == "idportal")	
			 #else
				#if (!$field.isKey())
							  #if ($field.targetType.toString() == "_integer")
								#if (! $field.isForeignKey())
									res.${field}=sf.entero(txt${field}.Text) ;
								#else
									 res.${field}=sf.entero(cmb${field}.SelectedValue) ;
								 #end                                   
							 #end 
							  #if ($field.targetType.toString() == "_string")
								res.${field}=sf.cadena(txt${field}.Text) ;	
							 #end 
							  #if ($field.targetType.toString() == "_text")
								res.${field}=sf.cadena(txt${field}.Text) ;	
							 #end 
							  #if ($field.targetType.toString() == "_bigString")
								res.${field}=sf.cadena(txt${field}.Text) ;	
							 #end 
							   #if ($field.targetType.toString() == "_double")
								res.${field}=sf.doble(txt${field}.Text) ;	
							 #end 
							 #if ($field.targetType.toString() == "_date")
								//res.${field}=sf.fecha(${field}.SelectedDate) ;
								res.${field}=sf.fecha(${field}.Text) ;
							  #end 
							  #if ($field.targetType.toString() == "_boolean")
								 res.${field}=sf.boolean(ck${field}.Checked) ;
							  #end 
							#if ($field.targetType.toString() == "_image")
								if (FileUploadImagen${field}.PostedFile == null) { }
								else
								{
									if (FileUploadImagen${field}.FileName != "")
									{
										if (!System.IO.File.Exists(Server.MapPath("../../bdimages/") + sf.cadena(HttpContext.Current.Session["admin"]) + FileUploadImagen${field}.FileName))
										{
											res.${field} = "../../bdimages/" + sf.cadena(HttpContext.Current.Session["admin"]) + FileUploadImagen${field}.FileName;
											FileUploadImagen${field}.SaveAs(Server.MapPath("../../bdimages/") + sf.cadena(HttpContext.Current.Session["admin"]) + FileUploadImagen${field}.FileName);
											img${field}.ImageUrl = res.${field};
											//img${field}.AlternateText = " " + res.titulo;
											img${field}.Visible = true;
											btnborrarimagen${field}.Visible = true;
											FileUploadImagen${field}.Visible = false;

										}
										else
										{//mensaje("El archivo ya existe, elija otro nombre");
										}
											
									}
								}
							 #end 
							#if ($field.targetType.toString() == "_document")
								if (FileUpload${field}.PostedFile == null) { }
								else
								{
									if (FileUpload${field}.FileName != "")
									{
										if (!System.IO.File.Exists(Server.MapPath("../../bddocumentos/") + sf.cadena(HttpContext.Current.Session["admin"]) + FileUpload${field}.FileName))
										{
											res.${field} = "../../bddocumentos/" + sf.cadena(HttpContext.Current.Session["admin"]) + FileUpload${field}.FileName;
											FileUpload${field}.SaveAs(Server.MapPath("../../bddocumentos/") + sf.cadena(HttpContext.Current.Session["admin"]) + FileUpload${field}.FileName);
											lbl${field}.Text = res.${field};
											//img${field}.AlternateText = " " + res.titulo;
											lbl${field}.Visible = true;
											btnborrar${field}.Visible = true;
											FileUpload${field}.Visible = false;

										}
										else
										{//mensaje("El archivo ya existe, elija otro nombre");
										}
											
									}
								}
							#end 		
						#end 									 
					 #end 
				#set ($count = $count + 1 )
			#end 			
			
			 if ( sf.entero(${table}.Insert(res)) <= 0)
                   messageList.Add(new message("Error al insertar", message.typeOfMessage.error));
              else
                  messageList.Add(new message("Insertado ...", message.typeOfMessage.success));

			 res = null;
			 

			 if (messageList.Count > 0)
			{
				showMessages();
				return;
			}				

			
		}
	}
	
	
	private bool validateData()
    {
        #foreach( $field in $table.GetFields )
            #if ( $field.isForeignKey())
	            #if ($field.type.toString() == "_integer")
		            if (sf.entero(cmb${field}.SelectedIndex) == 0 )
	               {
		                messageList.Add(new message("Revise el campo ${field.targetName}",message.typeOfMessage.error));
	               }
	            #end  
            #end  
        #end
        return true;
    }
        
	
	 #foreach( $relation in $table.getRelations() )
		  protected void ibNew${relation.childField()}_Click(object sender, ImageClickEventArgs e)
			{

			}   
	 #end 
 
	private void showMessages()
 {
     foreach (message item in messageList)
     {
         LiteralControl lit = null;
         switch (item.type)
         {
             case message.typeOfMessage.success:
                 lit = new LiteralControl("<p class='msgSuccess'>" + item.text + "</p></br>");
                 break;
             case message.typeOfMessage.error:
                 lit = new LiteralControl("<p class='msgError'>" + item.text + "</p></br>");
                 break;
             case message.typeOfMessage.info:
                 lit = new LiteralControl("<p class='msgInfo'>" + item.text + "</p></br>");
                 break;
         }

         PanelAviso.Controls.Add(lit);
        
     }
     PanelAviso.Visible = true;
 } // showMessages
 
 
	 protected void butCancelar_Click(object sender, EventArgs e)
	{

	}
	
	
   
	
	// funciones extra para campos extra
	#set ($count = 0)
			#foreach( $field in $table.GetFields )
				#if (!$field.isKey())
					 
							  #if ($field.targetType.toString() == "_image")
								 protected void btnborrarimagen${field}_Click(object sender, EventArgs e)
								{
									${table} res = new ${table}(sf.entero(Request["id"]));
 
									res.${field}="";
									res.Update();
									img${field}.Visible = false;
									btnborrarimagen${field}.Visible = false;
									//txtTextoAlternativo${field}.Text = "";
						 
									if (System.IO.File.Exists(Server.MapPath(img${field}.ImageUrl.ToString())))
										System.IO.File.Delete(Server.MapPath(img${field}.ImageUrl.ToString()));
									FileUploadImagen${field}.Visible = true;
									 
									
								}
								 
								 #end 
							  #if ($field.targetType.toString() == "_document")
								 protected void btnborrar${field}_Click(object sender, EventArgs e)
								{
									${table} res = new ${table}(sf.entero(Request["id"]));
 
									res.${field}="";
									res.Update();
									lbl${field}.Visible = false;
									btnborrar${field}.Visible = false;
									//txtTextoAlternativo${field}.Text = "";
						 
									if (System.IO.File.Exists(Server.MapPath(lbl${field}.Text.ToString())))
										System.IO.File.Delete(Server.MapPath(lbl${field}.Text.ToString()));
									FileUpload${field}.Visible = true;
									 
									
								}
								 
								 #end 									 
								 
					  
				#end
				#set ($count = $count + 1 )
			#end 
	
	
} 

}
