<nameFile>listado_${table}</nameFile>
<extensionFile>aspx</extensionFile>
<languageGenerated>c_sharp</languageGenerated>
<description>description</description>
<targetDirectory>${table}_dir</targetDirectory>
<appliesToAllTables>true</appliesToAllTables>
<%@ Page Language="C#" MasterPageFile="~/admin/master/masterAdmin.Master" AutoEventWireup="true"  CodeBehind="listado_${table}.aspx.cs" Inherits="${project}.${table}_dir.listado_${table}" Title="Página sin título" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <!--PARTE DERECHA-->
 				<!--contenido-->
				<div id="contenido">
				<!--barra titulos-->
				<div class="titulos">
					<div class="itemTit">
					  <h2 class="textoTit">   <asp:Label ID="Label1" runat="server" Text="Mantenimiento de ${table.targetName()}"></asp:Label>
					  </h2>
					</div>
				</div>
				<!--barra titulos-->
			 <div class="bloqueMenu">
				 <asp:Panel ID="Panel1" DefaultButton="btnBuscar" runat="server">
				<ul  class="pestCat">
					<li><a href="../${table}_dir/listado_${table}.aspx" class="modificarM" >Listado ${table.targetName()}</a></li>
					<li><a href="../${table}_dir/main_${table}.aspx" class="insertarM">Nuevo ${table.targetName()}</a></li>
					
					<li><asp:TextBox ID="txtBusqueda" runat="server"></asp:TextBox> 
                     <asp:Button ID="btnBuscar" runat="server" Text="Buscar" CssClass="btn" OnClick="btnBuscar_Click" /></li>

				</ul>
				</asp:Panel>
				</div>
		#foreach( $relation in $table.getRelations() )
				 
		#if ($relation.ParentTable() == "categorias"+ $relation.ChildTable())					
        <div class="floatLeft">
            <h4>
                Vista de ${table.targetName()} por Categor&iacute;as
            </h4>
        </div>
        <!--elegir ${table}-->
        <div class="elegirCategoria">
            <h5>
                Categor&iacute;as</h5>
            <ul>
	
                <asp:Repeater ID="Repeater2" runat="server">
                    <ItemTemplate>
                        <li><a href="./listado_${table}.aspx?idcat=<%#Eval("${table.getKey()}")%> "
                            class="btn">
                            <%#Eval("nombre")%>

 						
                        </a>></li>
                    </ItemTemplate>
                </asp:Repeater>
            </ul>
        </div>	
				#end			
				#end 			
				<!--subseccion 1-->
					<div class="subseccion">
					<div class="titSubseccion">
					  <h3 class="itemh3"> 
					  <asp:Label ID="Label2" runat="server" Text="Administrar ${table.targetName()}"></asp:Label></h3>
					  </div>
				<div class="tabla">	  
		  <table cellpadding="0"   summary="Tabla de ${table.targetName()}" class="activ">
		  				<caption>
						${table.targetName()}
						</caption>  
    	   <thead>
		  
                      
				<tr>
			 	<th></th>
								
                            #set ($count = 0)
							#foreach( $field in $table.GetFields )
								#if (!$field.isKey())
								  #if ($field.targetType.toString() == "_integer")
									 <th align="center">${field.targetName}</th>
									 #end 
									#if ($field.targetType.toString() == "_double")
									 <th align="center">${field.targetName}</th>
									 #end 
									#if ($field.targetType.toString() == "_string")
									 <th align="center">${field.targetName}</th>
									 #end 
									#if ($field.targetType.toString() == "_text")
									 <th align="center">${field.targetName}</th>
									 #end 
									#if ($field.targetType.toString() == "_date")
									 <th align="center">${field.targetName}</th>
									 #end 
									#if ($field.targetType.toString() == "_boolean")
									 <th align="center">${field.targetName}</th>
									 #end 
									#if ($field.targetType.toString() == "_audio")
									 <th align="center">${field.targetName}</th>
									 #end 
									#if ($field.targetType.toString() == "_video")
									 <th align="center">${field.targetName}</th>
									 #end 
									#if ($field.targetType.toString() == "_document")
									 <th align="center">${field.targetName}</th>
									 #end 
									 #if ($field.targetType.toString() == "_image")
									 <th align="center">${field.targetName}</th>
									 #end 	 
								
									
			 					#end
								#set ($count = $count + 1 )
							#end  
 						
	            <th></th>
				</tr>
			</thead>
			  <tbody>
      	 
      		    
                    <asp:Repeater ID="Repeater1" runat="server">
                              <ItemTemplate >
                 				<tr  title="${table}" >
                 			    <td align="center">
									<a href="./main_${table}.aspx?id=<%#Eval("${table.getKey()}")%> " class="btn">Editar</a> 
								</td>
								 #set ($count = 0)
							#foreach( $field in $table.GetFields )
								#if (!$field.isKey())
								  #if ($field.targetType.toString() == "_integer")
										<td  align="center">
											<%#Eval("${field}")%>
										</td>
									 #end 
									#if ($field.targetType.toString() == "_double")
										<td  align="center">
											<%#Eval("${field}")%>
										</td>
									 #end 
									#if ($field.targetType.toString() == "_string")
										<td  align="center">
											<%#Eval("${field}")%>
										</td>
									 #end 
									#if ($field.targetType.toString() == "_text")
										<td  align="center">
											<%#Eval("${field}")%>
										</td>
									 #end 
									#if ($field.targetType.toString() == "_date")
										<td  align="center">
											<%#Eval("${field}")%>
										</td>
									 #end 
									#if ($field.targetType.toString() == "_boolean")
										<td  align="center">
											<%#Eval("${field}")%>
										</td>
									 #end 
									#if ($field.targetType.toString() == "_audio")
										<td  align="center">
											<%#Eval("${field}")%>
										</td>
									 #end 
									#if ($field.targetType.toString() == "_video")
										<td  align="center">
											<%#Eval("${field}")%>
										</td>
									 #end 
									#if ($field.targetType.toString() == "_document")
										<td  align="center">
											<%#Eval("${field}")%>
										</td>
									 #end 
									 #if ($field.targetType.toString() == "_image")
										<td  align="center">
											<%# ((DataBinder.Eval(Container.DataItem, "${field}").ToString() == "") ? "" : "<a href=" + DataBinder.Eval(Container.DataItem, "${field}") + "><img src='" + DataBinder.Eval(Container.DataItem, "${field}") + "' border='0' width='70px' /></a>")%>
										</td>
									 #end 	 
								
									
			 					#end
								#set ($count = $count + 1 )
							#end  
                            					         
                                    <td align="center">
                                      <a href="./main_${table}.aspx?idb=<%#Eval("${table.getKey()}")%> " class="btn">Borrar</a> 
 
                                </td>
                			 
                				</tr>
                			</ItemTemplate>
                 
                    
                    </asp:Repeater>
	           

			
			 </tbody>
			</table> 
					
					
	</div>
					</div>
					<!--subseccion 1-->
				
 
		 

				</div>
				<!--contenido-->
 

</asp:Content>